.col-center{float: none;margin: 0 auto;}
table>thead>tr{background:#2a3f54;color:white;border-color: #2a3f54}
.thumbnail{height: 300px;}
.panel-heading{height: 45px;}
.modal-footer {padding: 5px;}
.page-title{height:0 !important;}
.select2-container {
    width: 100% !important;
}
.error{
    border:1px solid #a94442 !important;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
}

.ratings {
    padding-right: 10px;
    color: #d17581;
}
.caption {
    background-color: #FFF;
}

.thumbnail{
    border: 1px solid #FFF;
}

.thumbnail a>img, .thumbnail>img {
    -webkit-box-shadow: 9px 11px 7px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 7px -8px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 7px -8px rgba(0,0,0,0.75);
}
/*.select2-container--default .select2-selection--single {*/
/*    border:1px solid #a94442;
}*/

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 3px;
}