body{
    font-family: "helvetica" !important;
}

/*            .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
                margin-left:150px;
                color: #13b671;          
                font-size: 20px;
                font-weight: bold;

            }*/
.navbar-brand>img {
    display: inline;
}
.navbar-brand {
    padding: 10px 10px;
}
/*            .navbar-default {
                background-color: white;
                box-shadow: 0 4px 4px -4px #9B9B9B;
            }*/

.navbar-form .form-control.search {
    width: 500px;
}
.color-superfuds{
    color: #13b671;
}
.white-label{
    color:white;
    font-size: 20px;
    text-shadow: 1px 1px 3px #000;
    font-weight:200;
    font-family: "Helvetica", Georgia, Serif;
    letter-spacing: 1px

}
.white-check{
    color:white;
    font-size: 12px;
    text-shadow: 1px 1px 3px #000;
    font-weight:200;
    font-family: "Helvetica", Georgia, Serif;
    letter-spacing: 1px

}

.green-bk{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(85,185,117,1) 0%, rgba(92,230,214,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(85,185,117,1)), color-stop(100%, rgba(92,230,214,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(85,185,117,1) 0%, rgba(92,230,214,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(85,185,117,1) 0%, rgba(92,230,214,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(85,185,117,1) 0%, rgba(92,230,214,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(85,185,117,1) 0%, rgba(92,230,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#5ce6d6', GradientType=1 );
}
/*            .grey-bk{
                background: #fffcf8;
            }*/

#img-main{

    /*background: #13b671 url('assets/images/foto-paginaweb.png')  no-repeat;*/
    background: #13b671 url('../../assets/images/foto-paginaweb.jpg')  no-repeat;
    background-image: 100%;
    background-size: cover;
    color:white;
    /*height:60%;*/
    height:800px;
}

@media screen and (min-width:1340px) {
    #img-main{
        background: #13b671 url('../../assets/images/foto-paginaweb.jpg')  no-repeat;
        background-image: 100%;
        background-size: cover;
        color:white;
        /*height:60%;*/
        height:850px;
        /*                    display: flex;*/
    }
}

.buttons-page{
    border-bottom-left-radius: 1em 1em 1em 1em;
    border: 0;  
    background: rgba(241,111,92,1);
    background: -moz-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(231,56,39,1) 0%, rgba(52,205,159,1) 0%, rgba(142,222,174,1) 49%, rgba(142,222,174,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(231,56,39,1)), color-stop(0%, rgba(52,205,159,1)), color-stop(49%, rgba(142,222,174,1)), color-stop(100%, rgba(142,222,174,1)));
    background: -webkit-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(231,56,39,1) 0%, rgba(52,205,159,1) 0%, rgba(142,222,174,1) 49%, rgba(142,222,174,1) 100%);
    background: -o-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(231,56,39,1) 0%, rgba(52,205,159,1) 0%, rgba(142,222,174,1) 49%, rgba(142,222,174,1) 100%);
    background: -ms-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(231,56,39,1) 0%, rgba(52,205,159,1) 0%, rgba(142,222,174,1) 49%, rgba(142,222,174,1) 100%);

    font-weight: 100;
    font-size:16px;
}


@media (max-width: 1300px) {
    .buttons-page {
        border-bottom-left-radius: 1em 1em 1em 1em;
        border: 0;  
        background: rgba(0,0,0,1);
        background: -moz-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(231,56,39,1) 0%, rgba(52,205,159,1) 0%, rgba(142,222,174,1) 49%, rgba(142,222,174,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(231,56,39,1)), color-stop(0%, rgba(52,205,159,1)), color-stop(49%, rgba(142,222,174,1)), color-stop(100%, rgba(142,222,174,1)));
        background: -webkit-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(231,56,39,1) 0%, rgba(52,205,159,1) 0%, rgba(142,222,174,1) 49%, rgba(142,222,174,1) 100%);
        background: -o-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(231,56,39,1) 0%, rgba(52,205,159,1) 0%, rgba(142,222,174,1) 49%, rgba(142,222,174,1) 100%);
        background: -ms-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(231,56,39,1) 0%, rgba(52,205,159,1) 0%, rgba(142,222,174,1) 49%, rgba(142,222,174,1) 100%);
        font-weight: 100;
        font-size:12px;
        padding-left: 18%;
    }
}

/*            #img-marketplace{
                background: url('assets/images/marketplace.png') center center no-repeat;
                background-size: auto;
                color:white;
                height:200px;
                display: flex;
                margin-top: 180px;
            }
            #img-superfuds{
                background: url('assets/images/sf_blanco.png') center center no-repeat;
                background-size: 155px;

                color:white;
                height:100px;
                display: flex;
            }*/


.img-subcategory{
    -webkit-transition: all .6s ease;
}
.img-subcategory:hover{
    border-radius: 200px;
    /*box-shadow: 0px 0px 20px #ddd;*/

    -webkit-transform: scale(1) rotate(360deg)
}

.login-button{
    margin: 0 !important;
    padding-bottom: 6px !important;
    padding-top: 6px !important;
    color:white !important;
    border-bottom-left-radius: 1em 1em 1em 1em !important;
    width: 100% !important;
    border: 0 !important;  
    background: rgba(241,111,92,1) !important;
    background: -moz-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(231,56,39,1) 0%, rgba(52,205,159,1) 0%, rgba(142,222,174,1) 49%, rgba(142,222,174,1) 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(231,56,39,1)), color-stop(0%, rgba(52,205,159,1)), color-stop(49%, rgba(142,222,174,1)), color-stop(100%, rgba(142,222,174,1))) !important;
    background: -webkit-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(231,56,39,1) 0%, rgba(52,205,159,1) 0%, rgba(142,222,174,1) 49%, rgba(142,222,174,1) 100%) !important;
    background: -o-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(231,56,39,1) 0%, rgba(52,205,159,1) 0%, rgba(142,222,174,1) 49%, rgba(142,222,174,1) 100%) !important;
    background: -ms-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(231,56,39,1) 0%, rgba(52,205,159,1) 0%, rgba(142,222,174,1) 49%, rgba(142,222,174,1) 100%) !important;
    font-size:17px !important;
    font-weight: 100 !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}
.login-button:hover{
    background-color: #ffffff !important;
    background: #ffffff !important;
    color: #00c98a! important;
    border: 1px solid #00c98a !important;

}
.row-space{
    padding-bottom: 20px;
}
.row-center{
    display: flex;
    justify-content: center;
}
.color-font{
    color:#747175;
    font-weight: 100;
}



.underline{
    border-bottom: solid 2px #000000;
    display: inline;
    padding-bottom: 3px;
}
.underline-white{
    border-bottom: solid 2px #fff;
    display: inline;
    padding-bottom: 3px;
}

.underline-green{
    border-bottom: solid .1px #00c98a;
    display: inline;
    padding-bottom: 3px;
}
.title-color{
    color:#4c4b49;
    font-weight:100;
}

.carousel-control.left{
    background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.0001)));
    background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.0001) 100%)
}
.carousel-control.right{
    background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.0001)));
    background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.0001) 100%)
}
.carousel-control{
    opacity:.9;
    width:6%
}
.carousel-control.left{
    left: -1%;
    bottom: 10%;
}
.carousel-control.right{
    right: 1%;
    bottom: 10%;
    width:2%;

}

.box-client{
    width:50%;float:left;height: 30px;text-align: center;vertical-align: middle;padding-top: 2%;border-radius: 10px 0 0 10px;
    cursor:pointer;
    border: solid 1px #00c98a;
    color:#ffffff;
    font-size: 18px;
    padding-bottom: 9%

}

.box-supplier{
    width:50%;float:left;height: 30px;border: solid 1px #00c98a;text-align: center;vertical-align: middle;padding-top: 2%;border-radius: 0 10px 10px 0;
    font-weight: 600;cursor:pointer;
    color:#ffffff;
    font-size: 18px;
    padding-bottom: 9%
}

.back-green{
    background-color: #86DDB0;
}